{{ $customCss := (resources.Get "css/custom.css" | resources.Minify).RelPermalink }}
{{ range.menu }}
  <li class="sidebar-button">
    {{ if and (or (in .URL "://") (in .URL "mailto:") (in .URL "tel:") (in .URL "callto:") (in .URL "skype:")) (not (and $.root.Site.BaseURL (in .URL (printf "%s" $.root.Site.BaseURL)))) }}
      <a class="sidebar-button-link {{ if eq .Identifier "search" }}open-algolia-search{{ end}}" href="{{ .URL | safeURL }}" title="{{ .Name }}" target="_blank" rel="noopener">
    {{ else }}
      <a class="sidebar-button-link {{ if eq .Identifier "search" }}open-algolia-search{{ end}}" href="{{ index (apply (slice .URL) (.Params.urlFunc | default "relLangURL") ".") 0 }}" title="{{ .Name }}">
    {{ end }}
      {{ .Pre }}
      {{ $name := (i18n (printf "global.%s" .Identifier)) }}
      <span class="sidebar-button-desc">{{ if eq (len $name) 0 }}{{ .Name }}{{ else }}{{ $name }}{{ end }}</span>
    </a>
  </li>
{{ end }}
